.NewApp .NewWorld {
  position: absolute;

  top: 0px;
  left: 0px;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */

  width: 100%;

  height: 692px;

  /* background-color: goldenrod; */
  z-index: 1;
  overflow: hidden;

  background: radial-gradient(
    76.08% 76.44% at 50.03% 84.89%,
    #b88f00 38.02%,
    #000000 100%
  );
}
