.TwoMultiContentBoxMeta {
  width: 100%;
  /* background-color: green; */
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.TwoMultiContentBoxMeta .MessageBoxMeta {
  margin-top: 40px;
  /* margin-bottom: 30px; */
  width: 100%;
  /* background-color: blue; */
  /* height: 400px; */
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.TwoMultiContentBoxMeta .MessageBoxMeta .TitleMeta {
  /* margin-top: 25px; */
  width: 100%;
  /* height: 50px; */
  height: 50px;
  /* background-color: green; */
  /* background-color: #212746; */
  /* background-color: black; */
  background-color: #070b22;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.TwoMultiContentBoxMeta .MessageBoxMeta .TitleMeta .TitleTextMeta {
  /* margin-top: 25px; */
  width: 100%;
  /* height: 50px; */
  /* height: 100%; */
  /* background-color: green; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.TwoMultiContentBoxMeta .MessageBoxMeta .TitleMeta .TitleTextMeta .TitleText {
  /* width: 100%; */
  font-family: "Amaranth", sans-serif;
  text-align: left;
  margin-left: 14px;
  /* margin-bottom: 6px; */
  font-size: 20px;
}

.TwoMultiContentBoxMeta .MessageBoxMeta .MessageSectionMeta {
  width: 100%;
  /* background-color: peru; */
  /* background-color: #353a53; */
  /* height: 420px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TwoMultiContentBoxMeta .MessageBoxMeta .MessageSectionMeta .MessageTrackMeta {
  width: 100%;
  /* background-color: plum; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  align-items: center;
  /* overflow-y: scroll; */
}

.TwoMultiContentBoxMeta
  .MessageBoxMeta
  .MessageSectionMeta
  .MessageTrackMeta
  .MessageTrackA {
  width: 100%;
  /* background-color: powderblue; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
  overflow-y: hidden;

  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  align-items: center;
}

.TwoMultiContentBoxMeta
  .MessageBoxMeta
  .MessageSectionMeta
  .MessageTrackMeta
  .MessageTrackA
  .MessageBox {
  width: 100%;
  background-color: palegreen;
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
